#page-grade-report-quick_edit-index div.generalbox {
  margin: 0 20px 15px 20px;
}

#page-grade-report-quick_edit-index div.generalbox div.singleselect form div {
  text-align: center;
}

#page-grade-report-quick_edit-index div.generalbox table.generaltable {
  margin: 0 auto 15px auto;
}

#page-grade-report-quick_edit-index div.generalbox form div {
  text-align: center;
}

#page-grade-report-quick_edit-index .quick_edit_buttons {
    padding: 10px 0;
}
